<div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Admin Login</h2>
      <input type="text" placeholder="Enter your username" [(ngModel)]="username" name="username" class="login-input" required>
      <input type="password" placeholder="Enter your password" [(ngModel)]="password" name="password" class="login-input" required>
      <button class="login-button">Login</button>
      <div class="microsoft-login" (click)="loginWithMicrosoft()">
        <img src="assets/microsoft-logo.png" alt="Microsoft Logo">
        <span>Login with Microsoft</span>
      </div>
    </div>
  </div>
  