html, body {
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0; /* Optional: Add a background color */
}

.login-card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.microsoft-login {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.microsoft-login img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
