/* Dashboard Container */
.dashboard-container {
  height: 100vh; /* Make sure the container takes up the full viewport height */
  width: 100vw;  /* Make sure the container takes up the full viewport width */
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in height and width calculations */
}
/* Logout Button */
.logout-button {
  text-align: right;
}

.btn-logout {
  background-color: #2a2a2a;
  color: #eaeaea;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Lexend', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #1e90ff; /* Change background color on hover */
    transform: translateY(-3px); /* Slightly raise the button */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Deepen the shadow */
  }

  &:active {
    transform: translateY(0); /* Return to original position when clicked */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Return to original shadow */
  }
}
/* Stats Section */
.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1; /* Allow stats section to grow and fill available space */
}

/* Individual Stat Item */
.stat-item {
  flex: 1;
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 200px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Lexend', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .stat-value {
    font-family: 'Lexend', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #1e90ff;
    margin-bottom: 5px;
  }

  .stat-change {
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    color: #ff4d4d;

    &.decrease {
      color: #ff4d4d;
    }

    &.increase {
      color: #32cd32;
    }
  }
}

/* Responsiveness */
@media (max-width: 768px) {
  .stats {
    flex-direction: column;
  }

  .stat-item {
    min-width: 100%;
  }
}
